/* ¡IMPORTANTE! 
   Hemos borrado los imports de Tailwind aquí para evitar el error de "Build failed".
   Ahora los estilos se cargan desde el archivo index.html usando el CDN.
*/

body {
  margin: 0;
  background-color: #0f172a; /* Fondo azul oscuro de seguridad */
}